<ion-view view-title="Locations">
        <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-plus-empty" ui-sref="addLocation" ng-show="securityLevel<5"></button>
        </ion-nav-buttons>     

        <ion-content>     
                
                         <div class="button-bar bar-positive ">
                        <button class="button" ng-repeat="f in filters" 
                                ng-class="filter===f ? 'button-dark' : ''"
                                ng-click="changeFilter(f)">{{f.label}}</button>
                </div>
                
<!--
               

                <div class="card" ng-show="geocount==0 && !geoerror">
                        <div class="item" style="text-align: center; background-color: Harvest Gold;"> 
                                Finding Geolocation...
                        </div>
                </div>

                <div class="card" ng-show="securityLevel<3">
                        <div class="item" style="text-align: center; background-color: Harvest Gold;"> 
                                {{ geocount }} Geolocations @ {{ accuracy }}m accuracy
                        </div>
                </div>



                <div class="card" ng-show="geoerror">
                        <div class="item item-text-wrap" style="text-align: center; background-color: salmon;"> 
                                Geolocation Error: {{geoerror}}
                        </div>
                </div>
-->

                <ion-list>                        
                        <ion-item class="item-icon-right" collection-repeat="location in locations | orderBy:'distance' | filter: distanceFilter" 
                                  
                                  ui-sref="showLocation({id:location.id})">


                                {{location.found() || !location.enigmaticTitle ? location.descriptiveTitle : location.enigmaticTitle }} [{{location.distance}}m]
                                <p>
                                        <span ng-repeat="cat in location.categories.data">
                                                {{ cat.label }};                   
                                        </span>
                                </p>
                                <span ng-hide="location.found()">
                                        <i class="icon ion-ios-arrow-right" ng-hide="location.inRange()"></i>
                                        <i class="icon" ng-class="location.checkin_icon()" ng-show="location.inRange()"></i>
                                </span>                                
                                <i class="icon ion-ios-checkmark-empty" ng-show="location.found()"></i>

                        </ion-item>

                </ion-list>

                <ion-infinite-scroll
                                     ng-if="moreDataCanBeLoaded()"
                                     on-infinite="loadMoreData()">
                </ion-infinite-scroll>

        </ion-content>
</ion-view>