<ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-ios-close-empty" ui-sref="ui.Groups"></button>
        <h1 class="title">Add/Edit Group</h1>
        <button class="button button-icon icon ion-ios-checkmark-empty" ng-click="save();"></button>
</ion-header-bar>
<ion-content>       
        <ul class="list list-inset">

                <label class="item item-input item-stacked-label">
                        <span class="input-label">Group Label</span>
                        <input type="text" placeholder="Enter a meaningful label for this group" ng-model="group.label">
                </label>                
               

        </ul>
</ion-content>
